<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LaMoltoBMS.My.MySettings.LaMoltoConnectionString"
            connectionString="Dsn=Lamolto;uid=sa;app=Microsoft® Visual Studio® 2015;wsid=DESKTOP-B2HAP93;database=LaMolto"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>